@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive; 
*/

:root {
    --textColor: rgb(217, 224, 235);
    --pageBG: rgb(38, 41, 46);
    --active: rgb(152, 163, 177);
    --btnBG: rgb(74, 81, 90);
    --font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--pageBG);
    color: var(--textColor);
    font-family: var(--font);
}

.title {
    font-size: 3rem;
    margin: 20px 0px;
}

.text-center {
    text-align: center !important;
}

/* Timer Type Section */
.pick-btns-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pick-btns {
    display: inline-block;
    background-color: rgb(56, 60, 66);
    color: var(--textColor);
    font-family: var(--font);
    font-size: 50px;
    width: 49%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    text-transform: lowercase;
    transition: background-color 250ms;
}

.pick-btns:hover {
    background-color: rgb(74, 81, 90);
}

.current {
    background-color: var(--active);
    color: var(--pageBG);
    font-weight: 800;
}

.current:hover {
    background-color: var(--active);
    color: var(--pageBG);
    font-weight: 800;
}

/* Timer Section */

#timer-BG {
    background-color: rgb(28, 34, 44);
    width: 95%;
    padding: 30px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0px 0px 75px 5px rgba(0, 0, 0, 0.829);
}

.timer-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.unit-value {
    font-size: 150px;
    margin: 0px;
}

.unit {
    font-size: 1.5rem;
    margin-bottom: 0;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.arrow {
    background-color: var(--active);
    color: var(--pageBG);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 900;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    transition: all 250ms;
}

.arrow:hover {
    background-color: rgb(177, 188, 205);
}

.arrow:active {
    background-color: rgb(146, 178, 225);
}

.T-timer {
    display: none;
}


/* Add Time Section */
.add-btns {
    font-size: 30px;
    width: 24%;
}

.add-btns:active {
    background-color: rgb(111, 121, 133);
}


/* Timer Control Section */
.start {
    background-color: rgb(56, 66, 56);
}

.start:hover {
    background-color: rgb(74, 90, 76);
}

.start:active {
    background-color: rgb(111, 133, 115);
}

.reset:active {
    background-color: rgb(111, 121, 133);
}

.timer-running {
    border: 5px solid rgb(238, 73, 73);
    background-color: transparent;
    color: rgb(238, 73, 73);
}

.timer-running:hover {
    border: 5px solid rgb(239, 39, 39);
    background-color: transparent;
    color: rgb(239, 39, 39);
}


/* Container Sizing */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .title {
        font-size: 5rem;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
