@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Fragment Mono', monospace; 
*/

:root {
    --textColor: rgb(217, 224, 235);
    --pageBG: rgb(38, 41, 46);
    --active: rgb(152, 163, 177);
    --btnBG: rgb(74, 81, 90);
    --stop: rgb(221, 90, 90);
    --font: 'Poppins', sans-serif;
    --numFont: 'Fragment Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--pageBG);
    color: var(--textColor);
    font-family: var(--font);
}

.title {
    font-size: 3rem;
    margin: 20px 0px;
}

.text-center {
    text-align: center !important;
}

/* Timer Type Section */
.pick-btns-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pick-btns {
    display: inline-block;
    background-color: rgb(56, 60, 66);
    color: var(--textColor);
    font-family: var(--font);
    font-size: 50px;
    width: 49%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 250ms;
    user-select: none;
}

.width {
    width: 99%;
}

.pick-btns:hover {
    background-color: rgb(46, 49, 54);
}

.current {
    background-color: var(--active);
    color: var(--pageBG);
    font-weight: 800;
}

.current:hover {
    background-color: var(--active);
    color: var(--pageBG);
    font-weight: 800;
}

/* Timer Section */

#timer-BG {
    background-color: rgb(28, 34, 44);
    width: 95%;
    padding: 30px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0px 0px 75px 5px rgba(0, 0, 0, 0.829);
    user-select: none;
}

.timer-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.unit-value {
    font-family: var(--numFont);
    font-size: 150px;
    margin: 0px;
}

.unit {
    font-size: 1.5rem;
    margin-bottom: 0;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.arrow {
    background-color: var(--active);
    color: var(--pageBG);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 900;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: all 250ms;
}

.arrow:hover {
    background-color: rgb(112, 119, 129);
}

.arrow:active {
    transform: scale(0.9, 0.9);
}

.T-timer, .CD-timer {
    display: none;
}


/* Add Time Section */
.add-btns {
    font-size: 30px;
    width: 24%;
}

.add-btns:active {
    transform: scale(0.95, 0.95);
}


/* Date Select Section */
.date-select-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0px;
}

input[type="date"]{
    border: none;
    outline: none;

    color-scheme: dark;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.288);
    color: var(--textColor);
    font-family: var(--numFont);
    font-size: 50px;
    border-radius: 10px;
    width: 32%;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(90%) sepia(11%) saturate(194%) hue-rotate(177deg) brightness(101%) contrast(86%);
}

/* Timer Control Section */
.start {
    background-color: rgb(74, 90, 76);
}

.start:hover {
    background-color: rgb(60, 71, 60);
}

.start:active {
    transform: scale(0.95, 0.95);
}

.reset:active {
    transform: scale(0.95, 0.95);
}

.stop {
    background-color: var(--stop);
}

.stop:hover {
    background-color: rgb(168, 73, 73);
}

.pause {
    background-color: rgb(161, 125, 78);
}

.pause:hover {
    background-color: rgb(139, 106, 65);
}

.disable {
    opacity: .5;
}

.disable:active {
    transform: scale(1, 1);
}

/* Animation */
.flash {
    animation: timer-flash 1s linear infinite;
}

@keyframes timer-flash {
    0%{
        color: var(--stop);
        opacity: 1;
    }
    50%{
        color: var(--font);
        opacity: .2;
    }
    100%{
        color: var(--stop);
        opacity: 1;
    }
}

/* Container Sizing */
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .title {
        font-size: 5rem;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
